.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: white;
}

.board-wrapper {
  width: 95vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}