.board-wrapper {
  width: 99vw;  /* Occupa tutta la larghezza dello schermo */
  height: 80vh;  /* Occupa quasi tutto lo schermo lasciando spazio ai giocatori */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.8%;
  left: 50%;
  transform: translateX(-50%); /* Centra la griglia con lo spazio ai lati */
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  height: 100%;
  position: absolute; /* Fissa la posizione */
}
  
.header {
  background-color: #1E3A8A;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.cell {
  background-color: #2563EB; /* Blu originale */
  padding: 25px;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  color: white;
}

/* Cambia colore al passaggio del mouse */
.cell:hover {
  background-color: #1E40AF;
  transform: scale(1.05);
}