.board-wrapper {
  width: 99vw;
  height: calc(100vh - var(--players-bar-height) - 5vh); /* Altezza dinamica basata sulla barra */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Impostiamo la griglia con celle proporzionali */
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  gap: 5px;
  width: 100%;
  height: 100%;
}
  
.header {
  background-color: #1E3A8A;
  padding: 10px;
  font-size: 1.5vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

/* Celle responsive */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2563EB;
  padding: 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  color: white;
}

/* Cambia colore al passaggio del mouse */
.cell:hover {
  background-color: #1E40AF;
  transform: scale(1.05);
}